mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-aside.col-md-3
					+e.head
						div
							+e.link(href="tel:8(495)789-68-40")
								+e.icon-wrap
									+icon("phone_icon")
								span 8&nbsp;(495)&nbsp;789-68-40 (доб.&nbsp;550)
						
						div
							+e.link(href="skype:perevod.ru")
								+e.icon-wrap
									+icon("skype_icon")
								span perevod.ru
						
						div
							+e.link(href="mailto:perevod@perevod.ru")
								+e.icon-wrap
									+icon("email")
								span perevod@perevod.ru
						+e.btn.link-modal(href="#modal-q" data-title="Задать вопрос"  data-order="Задать вопрос") Задать вопрос
					+e.boot(href="#").d-none.d-md-flex
						img.res-i.lazy(src="https://www.fru-it.ru/" data-src="img/@2x/Logo_FS.png", alt="" target="_blank")
						+e.link-text Создание и&nbsp;продвижение сайта&nbsp;&mdash; Fruitful Solution
				.col-main.col
					.row
						+e.col.col-xl-auto.col-md-6
							+e.accordion 
								+e.title
									a(href="#")   Письменный перевод

								ul
									li: a(href="#") Срочный перевод
									li: a(href="#") Перевод личных документов
									li: a(href="#") Финансово-экономический и&nbsp;юридический перевод
									li: a(href="#") Технический перевод
									li: a(href="#") Медицинский перевод
									li: a(href="#") Научный перевод
									li: a(href="#") Художественный перевод
									li: a(href="#") Перевод видео- и аудиоматериалов
									li: a(href="#") Перевод сайтов
									li: a(href="#") Перевод носителем языка
									li: a(href="#") Редактирование переводов
									li: a(href="#") Верстка и форматирование
						+e.col.col-xl-auto.col-md-6
							+e.accordion 
								+e.title
									a(href="#")  Заверение и легализация
								ul
									li: a(href="#") Заверение печатью бюро
									li: a(href="#") Нотариальное заверение перевода
									li: a(href="#") Нотариальное заверение копии
									li: a(href="#") Апостиль
									li: a(href="#") Консульская легализация
							+e.accordion 
								+e.title
									a(href="#")  Устный перевод
								ul
									li: a(href="#") Последовательный перевод
									li: a(href="#") Синхронный перевод
						+e.col.col-xl-2.col-md-6
							+e.accordion 
								+e.title
									a(href="#")   Дополнительная информация
								ul
									li: a(href="#")  О бюро
									li: a(href="#")  Стоимость услуг
									li: a(href="#")  Доставка и оплата
									li: a(href="#")  Контакты
							+e.policy(href="#") Политика конфиденциальности
					+e.boot(href="#").d-md-none
						img.res-i.lazyimg.res-i.lazy(src="https://www.fru-it.ru/" data-src="img/@2x/Logo_FS.png", alt="" target="_blank")
						+e.link-text Создание и&nbsp;продвижение сайта&nbsp;&mdash; Fruitful Solution
	+e.btn.link-modal(href="#modal-thanks" data-title="Бесплатная консультация"  data-order="Бесплатная консультация") Спасибо 1
	
	+e.btn.link-modal(href="#modal-thanks2"  ) Спасибо 2
	+e.btn.link-modal(href="#modal-thanks3"  ) Спасибо 3
