.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-right {
	font-size:(11/10)*1rem;
	width:(15/11)*1em;
}
.icon-check {
	font-size:(11/10)*1rem;
	width:(15/11)*1em;
}
.icon-cloud_icon {
	font-size:(33/10)*1rem;
	width:(37/33)*1em;
}
.icon-contact-car {
	font-size:(9/10)*1rem;
	width:(15/9)*1em;
}
.icon-contact-clock {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-contact-home {
	font-size:(11/10)*1rem;
	width:(14/11)*1em;
}
.icon-contact-place {
	font-size:(14/10)*1rem;
	width:(11/14)*1em;
}
.icon-email {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-home {
	font-size:(11/10)*1rem;
	width:(14/11)*1em;
}
.icon-office-increase {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-phone_icon {
	font-size:(15/10)*1rem;
	width:(10/15)*1em;
}
.icon-skype_icon {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
