
	// start .s-about
	.s-about {
		@include media-breakpoint-up(lg) {

			padding-top: rem(100);
			padding-bottom: rem(78);
		}
		padding-top: rem(100 * 7 /10);
		padding-bottom: rem(78 * 7 /10);

		 &__col{
			 text-align: center;
			//  padding-bottom: reM(5);
			 .small{
				 opacity: 0.3;
				 line-height: 1.14;
			 }
		 }
		 &__text{
			 font-weight: 500;
			 margin-bottom: rem(32);
			 line-height: 1.25;
		 }
		 &__img-wrap{
			 height: rem(65);
			 line-height: rem(65);
			 vertical-align: middle;
			 margin-bottom: rem(26);
			 img{
				 max-width: rem(65);
			 }
		 }
		 .col-main{
			 padding-top: rem(7);
			 .row{
				 @include roww(10);
			 }
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		.col-aside__btn{
			margin-top: rem(12);
			margin-left: auto;
			margin-right: auto;
			max-width: rem(400);
		}
	}
	@include media-breakpoint-down(xs) {} 

} // end.s-about