mixin s-ours()
	// start s-ours
	+b.SECTION.s-ours.section#s-ours&attributes(attributes)
		.container
			.row
				+b.col-aside.col-md-3
					+e.inner 
						+b.section-title--sm
							h2 Наши переводчики строго распределены по&nbsp;тематикам
				.col-main.col-md-9
					p В&nbsp;соответствии с&nbsp;их&nbsp;опытом работы и&nbsp;личной квалификацией. Каждый переводчик специализируется на&nbsp;небольшом спектре взаимосвязанных тематик (например, перевод договоров, уставных документов, контрактов, или перевод технических инструкций и&nbsp;текстов по&nbsp;автомобильной тематике) &mdash;&nbsp;тактика, благодаря которой мы&nbsp;добиваемся высокого качества перевода при разумной ценовой политике
	// end s-ours