mixin s-servises()
	// start s-servises
	+b.SECTION.s-servises.section.lazy-background#s-servises&attributes(attributes)
		.container
				
			.row
				+b.col-aside.col-md-3
					+e.inner
						+b.section-title
							h2 Наши услуги
						p За&nbsp;19&nbsp;лет работы мы&nbsp;сумели накопить изрядный опыт в&nbsp;сфере переводческих услуг, который позволяет нам решать практически любые задачи, связанные с&nbsp;переводом информации с&nbsp;одного языка на&nbsp;другой

				.col-main.col
					.row
						+e.panel-wrap.col-sm-6
							+e.panel
								h5 Письменный перевод
								ul
									li Срочный перевод
									li Перевод личных документов
									li Финансово-экономический
									li и&nbsp;юридический перевод
									li Технический перевод
									li Медицинский перевод
									li Научный перевод
									li Художественный перевод
									li Перевод видео- и&nbsp;аудиоматериалов
									li Перевод сайтов
									li Перевод носителем языка
									li Редактирование переводов
									li Верстка и&nbsp;форматирование
						+e.panel-wrap.col-sm-6
							+e.panel
								h5 Устный перевод
								ul
									li Последовательный перевод
									li Синхронный перевод

							+e.panel
								h5 Заверение и легализация
								ul
									li Заверение печатью бюро
									li Нотариальное заверение перевода
									li Нотариальное заверение копии
									li Апостиль
									li Консульская легализация
	// end s-servises