mixin s-servises()
	// start s-servises
	+b.SECTION.s-servises.section.lazy-background#s-servises&attributes(attributes)
		.container
				
			.row
				+b.col-aside.col-md-3
					+e.inner
						+b.section-title
							h2 Наши услуги
						p За&nbsp;19&nbsp;лет работы мы&nbsp;сумели накопить изрядный опыт в&nbsp;сфере переводческих услуг, который позволяет нам решать практически любые задачи, связанные с&nbsp;переводом информации с&nbsp;одного языка на&nbsp;другой

				.col-main.col
					.row
						+e.panel-wrap.col-sm-6
							+e.panel
								h5
									a.text-body.tdn(href="#") Письменный перевод
								ul
									li: a(href="#")  Срочный перевод
									li: a(href="#")  Перевод личных документов
									li: a(href="#")  Финансово-экономический  и&nbsp;юридический перевод
									li: a(href="#")  Технический перевод
									li: a(href="#")  Медицинский перевод
									li: a(href="#")  Научный перевод
									li: a(href="#")  Художественный перевод
									li: a(href="#")  Перевод видео- и&nbsp;аудиоматериалов
									li: a(href="#")  Перевод сайтов
									li: a(href="#")  Перевод носителем языка
									li: a(href="#")  Редактирование переводов
									li: a(href="#")  Верстка и&nbsp;форматирование
						+e.panel-wrap.col-sm-6
							+e.panel
								h5
									a.text-body.tdn(href="#") Устный перевод
								ul
									li: a(href="#")  Последовательный перевод
									li: a(href="#")  Синхронный перевод

							+e.panel
								h5
									a.text-body.tdn(href="#") Заверение и легализация
								ul
									li: a(href="#")  Заверение печатью бюро
									li: a(href="#")  Нотариальное заверение перевода
									li: a(href="#")  Нотариальное заверение копии
									li: a(href="#")  Апостиль
									li: a(href="#")  Консульская легализация
	// end s-servises