mixin s-delivery()
	// start s-delivery
	+b.s-delivery.section.block-with-lazy#s-delivery&attributes(attributes)
		.container 
			h3 Доставка
			+b.tabs
				+e.slider--js.swiper-container
					+e.caption.swiper-wrapper
						+e.btn.swiper-slide Печатная версия продукта
						+e.btn.swiper-slide.active Электронная версия продукта
				+e.wrapper
					+e.content
						.row
							.col-md-4
								.payment-item
									.img-wrap
										img.lazy(src="#" data-src=`img/svg/delivery-i-9.svg`, alt="indefinite")
									.text
										span Самовывоз
										p Вы&nbsp;можете забрать свой перевод у&nbsp;нас в&nbsp;офисе или в&nbsp;нотариальной конторе (если ваш перевод нотариально заверялся)
								.payment-item
									.img-wrap
										img.lazy(src="#" data-src=`img/svg/delivery-i-11.svg`, alt="indefinite")
									.text
										span Доставка почтой
										p Мы&nbsp;можем отправить вам перевод заказным письмом через Почту России (стоимость отправки зависит от&nbsp;веса письма в&nbsp;граммах, в&nbsp;среднем 200-300&nbsp;р., время доставки примерно неделя)
							.col-md-4
								.payment-item
									.img-wrap
										img.lazy(src="#" data-src=`img/svg/delivery-i-10.svg`, alt="indefinite")
									.text
										span Доставка курьером
										p Мы&nbsp;можем отправить вам перевод курьерской службой (доставка по&nbsp;Москве от&nbsp;350&nbsp;р.&nbsp;в&nbsp;день готовности перевода или на&nbsp;следующий день, в&nbsp;другие города надо уточнять на&nbsp;сайте соответствующей курьерской службы)
							//- Блок с вопросами
							.col-md-4
								+e.head
									.question
										span Остались вопросы?
										p Мы&nbsp;будем рады ответить на&nbsp;ваши вопросы касательно наших услуг
									+e.btn-modal.link-modal(href="#modal-q" data-title="Задать вопрос"  data-order="Задать вопрос") Задать вопрос
										+icon("arrow-right")
					+e.content.active.electronic-version
						.row
							.col-md-4
								.payment-item
									.img-wrap
										img.lazy(src="#" data-src=`img/svg/delivery-i-4.svg`, alt="indefinite")
									.text
										span По e-mail
										p По&nbsp;электронной почте (включая сканы заверенных переводов, которые мы&nbsp;делаем бесплатно по&nbsp;желанию заказчика)
							.col-md-4
								.payment-item
									.img-wrap
										img.lazy(src="#" data-src=`img/svg/delivery-i-5.svg`, alt="indefinite")
									.text
										span По WhatsApp
										p Номер телефона&nbsp;8 (916) 657-88-39
							//- Блок с вопросами
							.col-md-4
								+e.head
									.question
										span Остались вопросы?
										p Мы&nbsp;будем рады ответить на&nbsp;ваши вопросы касательно наших услуг
									+e.btn-modal.link-modal(href="#modal-q" data-title="Задать вопрос"  data-order="Задать вопрос") Задать вопрос
										+icon("arrow-right")

	// end s-delivery