extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-servises/_s-servises.pug
include ../blocks/s-langs/_s-langs.pug

block variables
	- let  mainPage= 'main-page'
block title
	- let  title= 'title'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-line()
			// блок только на главной
			+tel-block()(class="d-none d-md-block")
			// /блок только на главной
			//- +col-main()(class="top-line__col--row")
		+top-nav()
		+header-block()
	+s-about
	+s-servises
	+s-langs
	+footer()