mixin col-main()
	+e.col.col-main.col-lg&attributes(attributes)
		.row
			.col-lg
				+mnu()
			+e.sm-col.col-lg-auto.text-center
				+e.tel.small(href="tel:8(916)657-88-39") 8 (916) 657-88-39
			+e.sm-col.col-lg-auto.text-center
				+e.tel.small(href="tel:8(495)789-68-40") 8 (495) 789-68-40 (доб.550)
mixin top-line()
	// start .top-line
	+b.top-line.block-with-lazy
		.container
			+b.toggle-menu-mobile--js.d-md-none
				span
			.row
				.col-aside.col-md-3
					+e.aside
						+e.logo
							img.res-i(src="img/svg/logo.svg", alt="")
						+col-main()(class="d-lg-none d-none d-md-block")
						div.d-none.d-md-block
							+e.modal-link(href="#")
								img.res-i(src="img/svg/mail_icon.svg", alt="")
								div Обратная связь
				
				+col-main()(class="d-none d-lg-block")
	// end .top-line