// мобильное меню

// мобильное меню
$h: em(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: absolute;
	// pos
	z-index: 200;
	cursor: pointer;
	right: 15px;
	top: rem(22);


	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 2;
	}

	span:after {
		bottom: $h * 2;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		font-size: 20px;
		width: 1em;
		height: $h;
		background-color: $primary;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	&.on {
		// opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:before {
		top: 0;
		bottom: 0;
		transform: rotate(45deg);
		transform-origin: 50% 50%;
	}

	&.on span:after {
		top: 0;
		bottom: 0;
		transform: rotate(-45deg);
		transform-origin: 50% 50%;
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	height: 101vh;

	@include media-breakpoint-up(md) {

		max-width: 85%;
		width: 280px;
	}

	width: 100%;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(120%, 0);
	// @include mt(.6);
	transition: all 0.6s;
	will-change: transform;

	&__head {
		display: flex;
		justify-content: space-between;
	}

	&__inner {
		// background-color: #c3c3c3;
		background-color: $body-color;
		text-align: center;
		padding: rem(20) 0 rem(60);
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		// margin-left: -15%;

		position: relative;
		opacity: 0;
		top: 0;
		margin-left: rem(20);
		// left: 0;
		// right: auto;
		color: #FFF;
		// top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: $primary;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
		margin-bottom: 0;
	}

	li {
		display: block;
		margin: 0;

		a {
			// font-size: 16px;
			color: #ffffff !important;
			padding: 5px;
			display: block;

		}
	}

	a {

		text-decoration: none !important;
	}

	.menu-mobile__col .menu-mobile__nav {
		margin-bottom: rem(30);
	}

	.top-line__modal-link {
		color: #ffffff !important;

		img {
			margin-bottom: rem(5);
		}
	}

	&__logo {
		margin-bottom: rem(20);
	}

	.menu-mobile__lang {
		// width: 100% !important;
		// position: absolute;
		padding-left: 15px;
		left: rem(20px);
		top: rem(20px);
	}

	&__lang {
		color: #ffffff;
		// margin-top: rem(20);
		margin-bottom: rem(20);

		span {

			opacity: 0.3;
		}

		a {
			opacity: 0.3;
			color: #ffffff !important;

			&.active,
			&:hover {
				@include mt;
				opacity: 1;
			}
		}
	}

	.menu-accordion {
		padding-top: rem(10);
		margin-bottom: rem(20);
		border-bottom: 1px solid #615f62;

		li {
			position: relative;
			// padding-right: rem(30);
		}

		>ul {
			>li {
				border-top: 1px solid #615f62;

			}

			a {
				display: block;
				padding: rem(15) rem(15);

			}

			ul {
				display: none;
				text-align: left;

				a {

					margin-right: rem(40);
					max-width: rem(260);
				}
			}
		}
	}

	.accordion-list {
		position: relative;

		ul {
			padding-left: rem(30);
			background-color: #262528;

			ul {
				a {
					color: #868587;
				}
			}
		}
	}
}


.toggle-list {

	position: absolute;
	padding: rem(15) rem(20);
	top: 0;
	// padding-top: 0;
	right: 0;
	cursor: pointer;
	@include mt;

	&::before {
		content: url(../img/svg/down.svg);
		position: relative;
	}

	&.active {
		transform: rotateX(180deg);

		&::before {}
	}
}