
mixin mob-mnu()
	//- +b.toggle-menu-mobile--js.d-lg-none
	//- 	span
	+b.menu-mobile--js.d-lg-none
		+e.inner
			+e.head
				+lang()
				+e.logo
					a(href="#")
						img.res-i(src="img/svg/logo-light.svg", alt="")
				+b.toggle-menu-mobile--js
					span
			.menu-accordion
				+aside-mnu()
			+mnu()
			//- +col-main("t")
			+b.tel-block&attributes(attributes)
			+tel-block()
			a.top-line__modal-link(href="#")
				img.res-i(src="img/svg/mail_icon.svg", alt="")
				div Обратная связь
mixin lang()
	+e.lang&attributes(attributes)
		a.active(href="#") Ru 
		span / 
		a(href="#") Eng
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy.d-none.d-md-block
		.container
			.row
				.col-aside.col-3
				.col-main.col
					.row
						.col
							+mnu2()
						+e.tel-col.col-auto
							+e.tel(href="tel:100-100-100")
								+icon('call')
						//- +lang()(class="col-auto d-none d-lg-block")
						//- +tel-block()(class="col-auto d-lg-none")
	// end top-nav