mixin s-detailed()
	// start s-detailed
	+b.SECTION.s-detailed.section#s-detailed&attributes(attributes)
		.container 
			.row
				+b.col-aside.col-md-3.d-none.d-md-block
					+e.inner 
						mixin li(a)
							li
								a(href="#")&attributes(attributes)= a
								block
					
						ul
							+li("Письменный перевод")
								ul
									+li("Срочный перевод")
									+li("Перевод личных документов")
										ul
											+li("Перевод паспорта")
												ul
													+li("Перевод паспорта с русского языка на иностранные языки")
													+li("Перевод российского паспорта на английский")(class="active")
													+li("Перевод российского паспорта на другие иностранные языки")
									+li("Финансово-экономический и юридический перевод")
									+li("Технический перевод")
									+li("Медицинский перевод")
									+li("Научный перевод")
									+li("Художественный перевод")
									+li("Перевод видео- и аудиоматериалов")
									+li("Перевод сайтов")
									+li("Перевод носителем языка")
									+li("Редактирование переводов")
									+li("Верстка и форматирование")
							+li("Устный перевод")
								ul
									+li("Последовательный перевод")
									+li("Синхронный перевод")
							+li("Заверение и легализация")
								ul
									+li("Заверение печатью бюро")
									+li("Нотариальное заверение перевода")
									+li("Нотариальное заверение копии")
									+li("Апостиль")
									+li("Консульская легализация")
							+li("Срочный перевод")
						 
				.col-main.col
					block
					p Паспорт является основным документом, удостоверяющим личность человека. Наше бюро выполняет быстрые качественные переводы всех типов паспортов, включая внутренние, заграничные, ID-карты.
					p Как правило, перевод паспорта нотариально заверяется. Для заверения перевода паспорта не&nbsp;требуется оригинал документа, достаточно копии, скана или фото хорошего качества. Скан или фото документа вы можете прислать по&nbsp;электронной почте: #[a(href="mailto") perevod@perevod.ru] или по&nbsp;Whatapp: #[a(href="tel:+7(916)657-88-39") +7 (916) 657-88-39] Или просто прийти к&nbsp;нам в&nbsp;офис с&nbsp;вашим паспортом, сделаем копию на&nbsp;месте.
					p При заказе у&nbsp;нас нотариального перевода нескольких паспортов вы&nbsp;можете получить дополнительную скидку. При заказе нотариального перевода 3-х паспортов вы&nbsp;получаете скидку в&nbsp;100&nbsp;р.&nbsp;за&nbsp;каждый документ, 5-ти паспортов&nbsp;&mdash; 200&nbsp;р.&nbsp;за&nbsp;каждый документ, 10-ти паспортов и&nbsp;более&nbsp;&mdash; 250&nbsp;р.&nbsp;за&nbsp;каждый документ.
					p Срок выполнения нотариального перевода паспорта от&nbsp;1-2 часов с&nbsp;момента принятия заказа.
					h3 Перевод паспорта с нотариальным заверением
					p Для чего может понадобиться перевод паспорта с&nbsp;нотариальным заверением с&nbsp;русского на&nbsp;иностранный язык?
					p Такая необходимость возникает для предоставле- ния документа в&nbsp;различные инстанции иностранных\ государств. Если вы&nbsp;являетесь гражданином&nbsp;РФ и&nbsp;вступаете в&nbsp;официальное взаимодействие с государственными органами иностранных государств, от&nbsp;вас могут потребовать нотариально заверенный перевод внутреннего российского паспорта.
					p Иногда достаточно заверенного перевода одной страницы паспорта (там, где фото), иногда вместе с&nbsp;пропиской, но&nbsp;чаще всего требуется перевод всех страниц паспорта. 
					p Наше бюро выполняет переводы российских паспортов на&nbsp;все языки мира, чаще всего требуется перевод паспорта на&nbsp;английский язык.
					h5 Стоимость перевода российского паспорта на английский язык
					table
						mixin tr(t1,t2)
							tr
								td= t1
								td
									strong.text-primary= t2
						+tr("Стоимость перевода 1-2 страниц российского паспорта на английский язык с нотариальным заверением",'900 руб.')
						+tr("Стоимость перевода всех страниц российского паспорта на английский язык с нотариальным заверением",'1 000 руб.')
					+e.btn.link-modal(href="#modal-call" data-title="Заказать услугу"  data-order="Заказать услугу") Заказать услугу
						+icon("arrow-right")
	// end s-detailed